    .vehicle-card {
        border-radius: 5px;
        background: #f0f1ef;
        padding: 54px;
        width: 100%;
        height: 311px;
        margin: -500px 0px 0px 0px;
        background-color: antiquewhite;
    }
    
    @media (max-width: 425px) {
        .vehicle-card {
            height: 372px;
            width: 100%;
            margin: 0px 0px 0px 8px;
        }
    }